# Ignore temporary and system files
*.DS_Store
*.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
.venv/

# Ignore personal Jupyter configuration files
.jupyter/

# Skip raw dataset CSV files
*.csv

# Ignore log or temporary files
*.log
*.tmp
